{% extends 'base.html' %}
{% load static %}
{% block content %}
        
    <div class="profil">
        {% if user.is_authenticated %}
            <p class="nomuser">Salut, {{ user }} !</p>
            {% if user.profile_photo %}
                <img class="avatar" src={{ user.profile_photo.url }}>
            {% else %}
                <img class="avatar" src="{% static 'images/default_profile.png' %}">
            {% endif %}
            <p><a href="{% url 'home' %}">Accueil</a></p>
            <p><a href="{% url 'photo_upload' %}">Publier une photo</a></p>
            <p><a href="{% url 'upload_profile_photo' %}">Changer votre photo de profil</a></p>
            <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}

    </div>

<div class="photo">
    {% for photo in photos %}
    <div class="photo-item">
        <img src="{{ photo.image.url }}">
        <p class="descphoto">{{ photo.caption }}</p>
        
        <form class="like" action="{% url 'like_photo' photo.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="like-button"><i class="fas fa-heart"></i></button>
            <div class="like-count">{{ photo.likes.count }}</div>
        </form>
    </div>
        
    {% endfor %}
</div>


{% endblock content %}