
.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    
  }
  
  .photo img {  
    width: 500px;
    height: 380px;
    transition: transform 0.3s ease;
  }

  .photo img:hover {
    transform: scale(0.9);
  }

  .photo .photo-item {
    align-items: center;
  }

  




  .title {
    text-align: center;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace; /* Remplacez 'YourFont' par la police stylée de votre choix */
    animation: glowingText 2s ease-in-out infinite; /* Ajoutez cette ligne pour l'animation */
  }
  
  @keyframes glowingText {
    0% { color: #ff0000; } /* Remplacez #ff0000 par la couleur initiale de votre titre */
    50% { color: #0026ff; } /* Remplacez #00ff00 par une couleur intermédiaire pour l'animation */
    100% { color: #ff0000; } /* Remplacez #ff0000 par la couleur finale de votre titre */
  }

.body {
    background: #fadbfc;
}





.profil {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px gray;
    margin: 30px;
    padding: 15px;
    min-width: 300px;
    min-height: 400px;
    float: left;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
    
  }
  
  .profil .nomuser {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .profil .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
   
  }
  
  .profil a {
    text-decoration: none;
    color: #333;
  }
  
  .profil a:hover {
    text-decoration: underline;
  }






  .containercon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
  
  form {
    width: 300px;
    padding: 20px;
    background-color: #f5fafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  form button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }




  
  
  
  .containerins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: -80px;
  }
  
  .inscription {
    width: 700px;
    background-color: #f5fafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .inscription button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inscription button:hover {
    background-color: #45a049;
  }
  
  .inscription p {
    text-align: center;
    margin-top: 10px;
  }
  
  .erreur {
    color: red;
    text-align: center;
  }