
.publicationformulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.publication-title {
  text-align: center;
}


.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    
  }
  
  .photo img {  
    width: 500px;
    height: 400px;
    transition: transform 0.3s ease;
  }

  .photo img:hover {
    transform: scale(0.9);
  }

  .photo .photo-item {
    align-items: center;
  }

  




  .title {
    text-align: center;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace; /* Remplacez 'YourFont' par la police stylée de votre choix */
    animation: glowingText 2s ease-in-out infinite; /* Ajoutez cette ligne pour l'animation */
  }
  
  @keyframes glowingText {
    0% { color: #ff0000; } /* Remplacez #ff0000 par la couleur initiale de votre titre */
    50% { color: #0026ff; } /* Remplacez #00ff00 par une couleur intermédiaire pour l'animation */
    100% { color: #ff0000; } /* Remplacez #ff0000 par la couleur finale de votre titre */
  }

.body {
    background: #fceadb;
}




.profil {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px gray;
    margin: 30px;
    padding: 15px;
    min-width: 300px;
    min-height: 400px;
    float: left;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
    
  }
  
  .profil .nomuser {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .profil .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
   
  }
  
  .profil a {
    text-decoration: none;
    color: #333;
  }
  
  .profil a:hover {
    text-decoration: underline;
  }






  .containercon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
  
  form {
    width: 300px;
    padding: 20px;
    background-color: #f5fafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  form button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }



  .containerins {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fadbfc;
    }

    .inscription {
        width: 500px;
        background-color: white;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        padding: 40px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        
    }

    .form-field {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #262626;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        font-size: 14px;
        background-color: #fafafa;
        color: #262626;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #3897f0;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    button:hover {
        background-color: #3578e5;
    }

    .erreur {
        color: red;
        text-align: center;
        margin-bottom: 10px;
    }
 
    .inscriptext {
      margin-top: 10px;
    }


  .like {
    display: inline-block;
    background-color: #fadbfc;
  }

  .like-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.like-count {
    font-size: 15px;
    color: #0e0d0d;
    display: inline-block;
    vertical-align: middle;
}




.add-comment {
  max-width: 200px; /* Définir une largeur maximale pour limiter la taille du formulaire */
  max-height: 120px;
  float: right;
}

.add-comment .comment-section textarea {
  width: 100%; /* Définir la largeur du champ de texte sur 100% pour occuper toute la largeur disponible */
  resize: vertical; /* Permettre le redimensionnement vertical du champ de texte */
}

.add-comment .comment-section .comment-button {
  margin-top: 2px; /* Ajouter une marge supérieure pour l'espace entre le champ de texte et le bouton */
}



